.modal {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avatar {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border: 1px solid black;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 800px) {
  .modal {
    flex-direction: column;
    align-items: center;
  }
  .info {
    flex-direction: row;
  }
  .details {
    width: 50%;
  }
}
