.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  text-align: center;
}

.content {
  display: flex;
  gap: 4px;
  height: 100%;
  overflow: hidden;
}

.panel {
  width: 50%;
  min-width: 0;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  padding: 8px;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }
  .panel {
    width: 100%;
    height: 50vh;
  }
}
